# Ignore zip archives
*.zip
qlsv.zip

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
out/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
